.sg_colors .sg_color {
	border:1px solid #fafafa;
	border-radius:5px;
	margin:0 0 20px;
	padding:0 0 10px 0
}

.sg_colors .sg_color .colorBox {
	display:block;
	height:50px;
	margin:10px 0 10px 0
}
.sg_colors .sg_color strong {
	display:block;
	font-size:1em;
	margin-top:5px;
	padding:0 10px
}
.sg_colors .sg_color p {
	margin:0;
	padding:0 10px
}
.sg_colors .sg_color .colorDefs strong {
	display:inline-block;
	margin:0 5px 0 0;
	padding:0
}

.sg_colors { margin-bottom: 20px; margin-top: 20px; }
.sg_color {
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	margin: 0 0 20px;
	padding: 0 0 10px 0;
}
.sg_color strong.text-center { display: block; font-size: 20px; margin: 5px 0; }
.sg_color .colorDefs p { padding: 0 15px; }

.textBoxWrapper,
.imageViewWrapper { margin: 20px 0; }

.textBoxWrapper:after {
	clear: both;
	content: '';
	display: block;
	height: 1px;
	width: auto;
}

#sg90Wrapper .btn { border: none; }

/* Greg's Style Below This Line */

.col-md-3 {padding: 20px 10px;}
.col-md-12 {padding: 20px 0;}

/* MOBILE */
@media only screen and (max-width: 992px) {
	#sg90Wrapper * { text-align: center }
	#sg90Wrapper img.img-responsive { display: inline-block; }
	.imageViewWrapper .col-md-6 { padding: 20px 0; }
}