.sg_colors { margin-bottom: 20px; margin-top: 20px; }

.sg_color {
	margin: 0 0 20px;
	padding: 0 0 10px 0;
}

.sg_colors .sg_color .colorBox {
	display: block;
	height:50px;
	margin:0 0 10px 0;
}
.sg_colors .sg_color strong {
	display: inline-block;
	font-size:1em;
	margin-top:5px;
	margin-right: 10px;
}
.sg_color strong.title { display: block; margin: 5px 0; }
.sg_colors .sg_color p {
	margin:0;
}

.textBoxWrapper,
.imageViewWrapper { margin: 20px 0; }

.textBoxWrapper:after {
	clear: both;
	content: '';
	display: block;
	height: 1px;
	width: auto;
}

#sg90Wrapper .btn { border: none; }

/* Greg's Style Below This Line */

.col-md-3 {padding: 20px 10px;}
.col-md-12 {padding: 20px 0;}

/* MOBILE */
@media only screen and (max-width: 992px) {
	#sg90Wrapper * { text-align: center }
	#sg90Wrapper img.img-responsive { display: inline-block; }
	.imageViewWrapper .col-md-6 { padding: 20px 0; }
}